{% extends 'base.html' %}
{% block content %}
<a class="btn btn-secondary btn-sm mb-3" href="{% url 'polls:index' secret_key round_id %}">Zurück zu Übersicht</a>
<h1 class="text-center mb-3">{{ question.question_text }}</h1>

{% if error_message %}
<p class="alert alert-danger">
	<strong>{{ error_message }}</strong>
</p>
{% endif %}

<form action="{% url 'polls:submit' secret_key round_id question.id %}" method="post">
	{% csrf_token %} 
	<label for="answer">
    Deine Antwort:  
  </label>
 	<div class="form-group">
			<input
				type="text"
				name="answer"
				class="form-control"
				id="answer"
        value="{{ current_answer }}"
			/>
	</div>
	<input type="submit" value="Senden" class="btn btn-success btn-lg btn-block mt-4" />
</form>
{% endblock %}
