{% extends 'base.html' %} 
{% block content %} 
<a class="btn btn-secondary btn-sm mb-3" href="{% url 'pages:index_game' game_id %}">Restart Game</a>
<h1 class="text-center mb-3"> Runde {{ round_id }}: {{ master }} </h1>
  {% if latest_question_list %}
    {% for question in latest_question_list %}
      <div class="card mb-3">
        <div class="card-body">
          <p class="lead">{{ question.question_text }}</p>
          <a href="{% url 'polls:create' game_id round_id question.id %}" class="btn btn-primary btn-sm">Antwort eingeben</a>
          <a href="{% url 'polls:detail' game_id round_id question.id %}" class="btn btn-primary btn-sm">Abstimmen</a>
          <a href="{% url 'polls:results' game_id round_id question.id %}" class="btn btn-secondary btn-sm">Resultate</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No polls available</p>
  {% endif %}
{% endblock %}
